{% extends 'base.html.twig' %}

{% block title %}ABY formation - {{ 'Forum' | trans}}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a class="crumb crumb-link" href="{{ path('portal') }}">{{ 'Modules'|trans }}</a>
    </li>
    <li class="breadcrumb-item"><a class="crumb crumb-link" href="{{ path('forum') }}">{{ 'Forum'|trans }}</a></li>
    {% for crumb in question.forumBreadcrumbs(app.user.language) %}
        {{ include('partials/breadcrumbs.html.twig') }}
    {% endfor %}
{% endblock %}

{% block body %}

    <section class="example-wrapper">

        {# question asked #}
        {#        <p class="title-css">{{ question.subject }}</p> #}
        <p class="subtitle-css">{{ 'Question' | trans | title  }}</p>

        <div class="container mt-5">
        <div class="row d-flex justify-content-around row-question">
        <div class="col-md-8">
        {% for post in posts %}
            {% if loop.first %}
                {# Question asked #}
                <div class="card p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user d-flex flex-row align-items-center"> <img src=" {{ asset('/assets/img/profile.png') }} " width="30" class="user-img rounded-circle mr-2"> <span> <small class="font-weight-bold text-primary">  {{ post.createdBy.username }} </small>  </span> </div> <small>  {{ question.dateFormatted|date("d/m/Y H:i") }} </small>
                    </div>
                    <div class="action d-flex justify-content-between mt-2 align-items-center">
                        <div class="reply px-4"> <small class="font-weight-bold"> {{ question.subject }} </small> </div>
                        <div class="icons align-items-center"> 
                            {% if is_granted('ROLE_PARTNER') or (userId == question.createdBy.Id) %}
                            {{ include('question/_delete_question.html.twig') }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <p class="subtitle-css">Réponses</p>
            {% else %}


            <div class="card p-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center"> <img src=" {{ asset('/assets/img/profile.png') }} " width="30" class="user-img rounded-circle mr-2"> <span> <small class="font-weight-bold text-primary">  {{ post.createdBy.username }} </small>  </span> </div> <small>  {{ post.dateFormatted|date("d/m/Y H:i") }} </small>
                </div>
                <div class="action d-flex justify-content-between mt-2 align-items-center">
                    <div class="reply px-4"> <small class="font-weight-bold"> {{ post.subject }} </small> </div>
                    <div class="icons align-items-center"> 
                        {% if is_granted('ROLE_PARTNER') or (userId == question.createdBy.Id) %}
                        {{ include('question/_delete_question.html.twig') }}
                        {% endif %}
                    </div>
                </div>
            </div>


            <div class="row question-asked-info">
                {# Reply to question date posted #}
                <div class="col text-right "> 
                    {{ form_start(upvotes[post.id]) }}
                    <div class=""><strong class="my-auto forum-upvote-count">{{ upvoters[post.id] }}</strong>
                        <button type="submit" class="btn"><i class="fas fa-thumbs-up"></i></button>
                    </div>
                    {# {{ form_widget(upvotes[post.id].upvote, {'attr': {'class': 'upvote-img'}}) }}#}
                    {{ form_end(upvotes[post.id]) }}    
                </div>
            </div>
             {% endif %}
        {% endfor %}
    </div>
</div>
</div>

                 
       
 

        </div>

        <p class="subtitle-css mt-5">{{ 'Répondre' | trans | title  }}</p>
        <div class="postform">
            {# Input answer to question#}
            {{ form_start(postForm) }}
            {{ form_widget(postForm.subjectPost) }}
            <button class="btn-forum submitPost button_8" type="submit" class="">{{ 'Envoyer' | trans }}</button>
            {{ form_end(postForm) }}
        </div>


    </section>

{% endblock %}
