{% extends 'base.html.twig' %}
{% block body %}


<div class="form_leads"></div>
    {{ form_start(form, { 'attr' : {'id': 'leads_form_file'} } ) }}
    {{ form_row(form.fichier) }}
    <div class="none choice_leads">
        {{ form_row(form.nom) }}
        {{ form_row(form.mail) }}
        {{ form_row(form.formation) }}
        {{ form_row(form.tel) }}
        {{ form_row(form.date) }}
    </div>
    <button id="btn_send" class="button button_1" >{{ 'Ajoutez' | trans }}</button>
    <span id="btn_api" class="button button_1 none" onclick="send()" > Ajoutez </span>
    {{ form_end(form) }}
</div>
{% if filename is defined %}

<script>
    let filename =  "{{ filename }}";
</script>
<script src="{{ asset('assets/js/leads/leads.js') }}">
</script>
{% endif %}
{% endblock %}