{% extends 'base.html.twig' %}
{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css">
<table class="table table-striped">

    <div class="d-flex justify-content-center">
        <div class="btn-group" role="group" aria-label="Basic ">
            <button type="button" onclick="getLeads('new')" class="btn btn-primary">Nouveau</button>
            <button type="button" onclick="getLeads('nrp')" class="btn btn-primary">NRP</button>
            <button type="button" onclick="getLeads('ni')" class="btn btn-primary">Pas interessé</button>
            <button type="button" onclick="getLeads('rdv')" class="btn btn-primary">RDV</button>
            <button type="button" onclick="getLeads('signe')" class="btn btn-primary">Signé</button>

        </div>
    </div>

    <div class="buttons none">
        <button type="button" class="btn btn-success" onclick="interested()"> Inscription </button>
        <button type="button" class="btn btn-secondary" onclick="nrp()">NRP</button>
        <button type="button" class="btn btn-danger" onclick="nointerested()">Pas interessez</button>
        <button type="button" class="btn btn-info" onclick="rdv()"> RDV </button>
        <button type="button" class="btn btn-success" onclick="signe()"> Signé </button>

    </div>

    <thead>
        <tr class="headers">
            {% if data[0]  | default("") %}
                {% set header = data[0] %}

                {% for key,value in header.data %}
                <th>
                    <div class='input-group mb-3'>
                        <input type='texte' class='form-control search{{key}}' id='link' placeholder='Cherchez par {{key}}'>
                        <button onclick="search('{{key}}')" id='button-addon1'
                            class='btn btn-outline-secondary' type='button' id='button-addon1'>Envoyer</button>
                    </div>
                    <br>
                    {{ key }}
                </th>

                {% endfor %}
                <th> action </th>
            {% endif %}

        </tr>
    </thead>


    <tbody>
        {% for lead in data %}
        <tr class="content" id="{{ lead.id }}">
            {% for key,value in lead.data %}
            <th contenteditable="true" class="{{key}}" id="{{key}}-{{lead.id}}"
                onblur="saveChange('{{key}}', {{lead.id}})"> {{ value }}
            </th>
            {% endfor %}
            <th class="buttons">
                <button type="button" class="btn btn-success" onclick="interested({{ lead.id }})"> Inscription </button>
                <button type="button" class="btn btn-secondary" onclick="nrp({{ lead.id }})">NRP</button>
                <button type="button" class="btn btn-danger" onclick="nointerested({{ lead.id }})">Pas interessez</button>
                <button type="button" class="btn btn-info" onclick="rdv({{ lead.id }})">RDV</button>
                <button type="button" class="btn btn-secondary" onclick="signe({{ lead.id }})">Signé</button>

            </th>
        </tr>

        {% endfor %}
    </tbody>
</table>
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex">
{% if pages >= 2 %}
            {% for i in 1..pages %}
            <li class="page-item"><a class="page-link" href="#" onclick="getLeads(null, {{ i }})" >{{ i }}</a></li>
            {% endfor %}
    {% else %}
            <li class="page-item"><a class="page-link" href="#" onclick="getLeads(null, 1)" >1</a></li>
{% endif %}
<li class="page-item"><a class="page-link nbLeads" contenteditable="true" onblur="changeNbLeads()" href="#"  >10</a></li>

</ul>
</nav>
</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src=" {{ asset('assets/js/leads/all_Leads.js') }} "></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css">
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>


{% endblock %}