{% extends 'base.html.twig' %}

{% block title %} Leads {% endblock %}

{% block body %}

<section class="row justify-content-between rowaddbutton main-page-button">

    <a href="{{ path('add_leads') }}">
        <button type="button" class="btn  btn-circle btn-xl" data-toggle="tooltip" data-placement="right"
            title="Voir le liste des formations">
            <img class="addicon" src="{{ asset('assets/img/user.png') }}" alt="add icon">
        </button>
        <p class="mt-2">{{ 'Ajoutez des leads' | trans }}</p>
    </a>
    <a href="{{ path('all_leads') }}">
        <button type="button" class="btn  btn-circle btn-xl" data-toggle="tooltip" data-placement="right"
            title="Voir le liste des leads">
            <img class="addicon" src="{{ asset('assets/img/user.png') }}" alt="add icon">
        </button>
        <p class="mt-2">{{ 'Voir mes leads' | trans }}</p>
    </a>

</section>



{% endblock %}