{% block body %}
<p> {{ co.user.name }} à finis sa formation  </p>
<p> Parcours de formation : {{ co.user.formation }} </p>
<p> email : {{ co.user.email }} </p>
<p> Temps de connexion réalisé : {{ co.timeOfCo }} heures sur {{ co.user.duration }} heures</p>
<a href="https://abyformation.fr/partner">Accèder à notre plateforme</a>
{% endblock %}