{% block body %}
<h1>Bonjour {{contact.name}} </h1>
<p> Votre formation commence le {{ contact.start }} et finis le {{ contact.end }} </p>
<p> Parcours de formation : {{ contact.formation }} </p>
<p> Vos accès à notre plateforme : </p>
<p> identifiant : {{ contact.mail }} </p>
<p> mot de passe : {{ contact.mdp }} </p>
<a href="http://ifpro-france.fr/">Accèder à la plateforme</a>
<p> Pour validez votre formation, vous devrez avoir réalisé au moins 7 heures de connexion et avoir réalisés les quizs de fin de chapitre </p>
<!-- <p> Vous devrez par la mêmes occasion réalisez une étude de cas et la pitché devant un jury. Dès l'étude finis, envoyer nous un mail à aby.formation.france@gmail.com avec vos disponibilité pour programmer votre soutenance.</p>
 -->
 <p>Afin d'assurer la formation dans les meilleures conditions, merci de vous munir d'un ordinateur, doté d’une connexion internet et d’un casque. Assurez-vous également d’être dans un espace propice à l’apprentissage où vous ne serez pas dérangé </p>
<!-- <a href="https://docs.google.com/document/d/1k2pv_6IDi0sSXWnLS8ZnRa2RcSZzn0WL/edit?usp=sharing&ouid=100250367765149610076&rtpof=true&sd=true"> Voici le sujet </a>
 -->
 <p>En cas de problèmes, contactez-nous à contact@abyformation</p>
{% endblock %}