{% extends 'base.html.twig' %}

{% block title %}ABY formation - {{ 'Forum' | trans | title }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a class="crumb crumb-link" href="{{ path('portal') }}">{{ 'Learning Hub'|trans }}</a>
    </li>
    <li class="breadcrumb-item"><a class="crumb crumb-link" href="{{ path('forum') }}">{{ 'Forum'|trans }}</a></li>
    {% for crumb in currentTopic.forumBreadcrumbs(app.user.language, category) %}
        {{ include('partials/breadcrumbs.html.twig') }}
    {% endfor %}
{% endblock %}

{% block body %}

    <section class="example-wrapper">

        {#    TOPIC TITLE#}
        <h1 class="title-css">
            {{ currentTopic.title(language) }}
        </h1>

        <p class="subtitle-css">{{ 'Questions' | trans | title  }}</p>
        
        <div class="container mt-5 mb-5">
            <div class="row-topic">
                <div class="col-md-6 offset-md-3">
                    <ul class="timeline question">
                       {# <li>
                            <a  > {{ app.user.username }} </a>
                            <a class="float-right"> {{ 'now'|date("d/m/Y") }} </a>
                            <p class="subject" >Poser ma question</p>
                        </li> #}
                     {% for question in questions %}
                        <li>
                            <a href="{{ path('question', {'category': category.id, 'chapter': currentTopic.id, 'question': question.id}) }}" > {{ question.createdBy.username }} </a>
                            <a  href="{{ path('question', {'category': category.id, 'chapter': currentTopic.id, 'question': question.id}) }}" class="float-right"> {{ question.dateFormatted|date("d/m/Y") }} </a>
                            <p class="subject" >{{ question.subject }}</p>
                        </li>
                        
                        <!-- <div class="container ">
                            
                            <div class="row cards-forum center">
                                
                                <div class="col-4 title-cards-forum">
                                    {# Question text#}
                                    {{ question.subject }}
                                </div>
                                
                                <div class="col-2 questions-cards-forum">
                                    {# Count Replies#}
                                    <p>{{ postCount[question.id] }} {{ 'Réponse(s)' | trans | lower}}</p>
                                </div>
                                
                                <div class="col-3 questions-cards-forum">
                                    <p>Par: {{ question.posts[0].getCreatedBy().username }}</p>
                                </div>
                                
                                <div class="col-3">
                                    {# Link to the question's detail page#}
                                    <a class="btn-light "
                                    href="{{ path('question', {'category': category.id, 'chapter': currentTopic.id, 'question': question.id}) }}">
                                    {{ 'Voir' | trans }}
                                </a>
                            </div>
                        </div>
                    </div> -->
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
                    









        

        <p class="subtitle-css mt-5">{{ 'Posez une question' | trans | title  }}</p>

        <section class="container form-topic">

            {{ form_start(addQuestion) }}
           
                    {# Form inputfield #}
                    {{ form_widget(addQuestion.question, {'attr': {'class': 'feedback-input', 'placeholder': 'Sujet'} }) }}
              
                   
                    {# Form inputfield #}
                    {{ form_widget(addQuestion.questionDescription, {'attr': {'class': 'feedback-input', 'placeholder': 'Votre question'} }) }}

           <button type="submit" class="btn-forum button_8 btn-topic ">{{ 'Envoyer' | trans }}</button>

            {{ form_end(addQuestion) }}
        </section>

   



{#<div class="registration-form">
  <header>
    <h1 class="h1-topic" ><i class="far fa-window-close close"></i> Poser votre question</h1>
  </header>
  <form>
    <div class="input-section sujet-section">
      <input class="sujet" type="text" placeholder="Votre Sujet" autocomplete="off"/>
      <div class="animated-button"><span class="icon-paper-plane"><i class="fab fa-wpforms"></i></span><span class="next-button sujet"><i class="fa fa-arrow-up"></i></span></div>
    </div>
    <div class="input-section question-section folded">
      <input class="question" type="text" placeholder="Votre Message"/>
      <div class="animated-button"><span class="icon-lock"><i class="far fa-comment-dots"></i></span><span class="next-button question"><i class="fa fa-arrow-up"></i></span></div>
    </div>

    <div class="success"> 
      <p class="p-form" >Question envoyer</p>
    </div>
  </form>
</div>#}
{% endblock %}



