{% extends 'base.html.twig' %}

{% block title %}
	{{ 'Edit' | trans }}-{{ 'Pages' | trans }}
{% endblock %}

{% block breadcrumbs %}
	<li class="breadcrumb-item">
		<a class="crumb crumb-link" href="{{ path('dashboard') }}">{{ 'Dashboard' | trans }}</a>
	</li>
	{% if returnCode == 'dash' %}
		{% for crumb in page.dashboardBreadcrumbs(app.user.language) %}
			{{ include('partials/breadcrumbs.html.twig') }}
		{% endfor %}
	{%  elseif returnCode == 'flow' %}
		{% for crumb in page.editBreadcrumbs(app.user.language) %}
			{{ include('partials/breadcrumbs.html.twig') }}
		{% endfor %}
	{% endif %}

{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1 class="title-css">{{ 'Edit Page' | trans }}</h1>
		<div id="test"></div>


		<div class="example-wrapper">
			{{ form_start(form, {'attr': {'id': 'form-page'}}) }}
			{{ form_row(form.title, {'attr': {'class': 'js-richtexteditor-minimal'}}) }}
			</div> 
						{{ form_row(form.content, {'attr': {'class': 'js-richtexteditor'}}) }}

						{{ form_row(form.quiz, {'attr': {'class': 'quiz-input'}}) }}
						<div class="0 add-quiz btn-primary" onclick="create()"> Ajoutez un Quiz </div>
						<div id="quiz-parent" >
							<div class="quiz">
								<label>
									Script du quiz  <textarea name=""  class="script-quiz 0" id="" cols="30" rows="10" ></textarea>
								</label>
								<label> segonde de déclenchement <input class="seg-quiz 0" type="text"> </label>
								<div class="supprimer" ></div>
							</div>
						</div>
						<div class="0 save-quiz btn-primary" onclick="save('0')" >Enregistrer</div>
						<div id="old-quiz">
						</div>

			<div class="text-center">
				<button id="save" class="p-1 btn btn-skills button_8 buttonNavBox">{{ 'Save' | trans }}</button>
				{{ form_end(form) }}
				<hr>
				<a class="p-1 btn btn-skills button_8 buttonNavBox" href="{{ path('create_chapter', {module : page.chapter.learningModule.id , chapter : page.chapter.id}) }}">{{ 'Back to chapter' | trans }}</a>
			</div>

		</div>
	</div>

	<!-- bootstrap js -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<!-- /bootstrap js -->


	<script src="/assets/js/ckeditor5/build/ckeditor.js"></script>
	<script src="/assets/js/l2g-ckeditor.js"></script>
	<script src="/assets/js/partner/quiz.js"></script>


	
{% endblock %}
